*{
    margin: 0;
    padding: 0;
}
.item{
    width: 200px;
    height: 200px;
    background-color: aqua;
    box-sizing: border-box;
    margin-right: 10px;
    border: 2px solid black;
    /* display: inline-block; */
}

.container{
    display: flex;
    border: 10px solid grey;
    padding: 2px;
    height: 45vh;
    /* flex-direction:row ; */
    justify-content: space-between;
    /* justify-content: center; */
    align-items:flex-start;
    flex-wrap: wrap;
    /* flex-flow: column wrap;*/
}  
